#my-canvas{
    border: 2px solid black;
}
/* 
.text-on-canv{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

header, footer {
    background-color: #52f3b0;
    height: 50px;
    width: 100%;
}


.thumbnail-img{
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.gallery-container{
    margin-top: 25px;
}


.btn-mm-gen{
    margin: 10px;
}

.btn-icon{
    width: 25px;
    height: 25px;
    background-color: rgb(203, 231, 221);
    margin-left: 10px
}

